.btn-type-1 {
  border: 1px solid #434547;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.35em;
  color: #434547;
}

.btn-type-1:hover {
  color: #434547;
  text-decoration: none;
}

